html {
    background-color:aliceblue;
}
.square-list {
        list-style-type: square;
        color:blueviolet;
}

.letters-list {
    list-style: upper-alpha;
}

.nav {
    list-style-type: none;
    background-color: pink;
    padding:30px;
    margin-bottom: 100px
}